body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: right;
}

#sign-in {
  width: 6rem;
  height: rem;
  margin: 12px;
  font-size: large;
  color: #FFFFFF;
  vertical-align: middle;
  border-radius: 4px;
  background-color: rgb(33, 95, 177);
}

#logo > img {
  display: flex;
  padding: 0 2rem;
  margin-bottom: -2rem;
}

a {
  text-decoration: none;
  color:rgb(33, 95, 177);
}

p {
  font-size: 12px;
  color: rgb(148, 148, 148);
}

section {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: center;
}

label {
  text-align: left;
  padding-bottom: 5px;
}

span {
  font-size: 10px;
  padding: 3px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #FFFFFF;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
}

fieldset > p {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#fieldset-footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: rgb(237, 237, 237);
}

#submit {
  height: 3rem;
  font-size: large;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: rgb(33, 95, 177);
}

#disclaimer {
  display: flex;
  flex-direction: column;
  color: darkslategrey;
  font-size: 12px;
  padding: 0 3rem;
}

#disclaimer > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

footer {
  display: flex;
  font-size: 12px;
  height: 17px;
  padding: 1rem;
  align-items: center;
  background-color: #FFFFFF;
}